<table class=top_aligned>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to_object user %> <br />
        <%= user.email %> <br />
        <%= user.created_at %>
      </td>
      <td>
        <% user.rpx_identifiers.each do |rpx_identifier| %>
          <%= rpx_identifier.identifier %> <br />
          <%= rpx_identifier.raw.inspect %>
          <hr />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
