<%= form_for section do |f| %>
  <%= f.hidden_field :document_id %>
  <%= f.hidden_field :parent_id %>
  <h3><%= inplace_edit section, :title %></h3>
  <%= inplace_edit section, :text, :markdown => true %>
<% end %>