<html>
  <head>
    <title>Structured Text</title>
    <%= csrf_meta_tag %>
    <%= css_tag 'reset', 'base', 'application' %>
  </head>
  <body>
    <div>
      <div><%= link_to 'Home', '/' %></div>
      <div><%= render 'layouts/user' %></div>
      <%= render 'layouts/flash' %>
    </div>
    <br />
    <div><%= yield %></div>
    <%= js_tag 'jquery', 'rails', 'jquery.jeditable', 'application' %>
  </body>
</html>